.single{
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.single .wrapper{
    width: 100%;
    height: 100%;
    padding: 20px;
    border: 1px solid rgba(0,0,0, 0.3);
    border-radius: 10px;
    max-width: 1366px;
    background-color: aliceblue;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3), 4px 4px 10px rgba(0, 0, 0, 0.5);

}
.singleHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    margin-bottom: 15px;
}
.singleHeader h2{
    font-family: 'Pacifico', cursive;
    font-size: 30px;
}

    
.singleHeader .buttons button{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    font-size: 15px;
    cursor: pointer;
}
.singleHeader .buttons button:first-child{
    background-color: #f89625;
}
.singleHeader .buttons button:last-child{
    background-color: #d62f2f;
    margin-left: 10px;
}

.single img{
    border-radius: 10px;
    max-height:500px ;
    object-fit: cover;
    object-position: 0px -230px; 
    margin-bottom: 10px;
}
.single p{
    font-family: 'Arvo', serif;
}
.single p::first-letter{
    margin-left: 20px;
}

.singleFooter{
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
.singleFooter span:first-child{
   font-family: 'Dancing Script', cursive;
   font-size: 20px;
   font-weight: 700;
}
.singleFooter span:last-child{
    font-family: 'Ubuntu Mono', monospace;
    font-size: 20px;
    font-weight: 700;
 }