<div class="addMessage">
    <p id="addMessage"></p>
</div>

<div class="add">
        <form id="addForm">
            <div class="text">
                <input name="title" type="text" placeholder="Your Title *" required>
                <textarea name="content" placeholder="Your Content * " required></textarea>
                <input name="name" type="text"placeholder="Your Name *">
            </div>
            <div class="button">
                <button><i class="fa-solid fa-plus"></i></button>
                <label for="file"><i class="fa-solid fa-image"></i></label>
                <input name="file" type="file" id="file" style="display: none;">
            </div>
        </form>
    </div>

<script>
    const add = document.getElementById('addForm')
    const addMessage = document.getElementById('addMessage')
    
    const clearMessageForadd=()=>{
        setTimeout(()=>{
            addMessage.innerHTML=''
        },1000*4)
    }


    add.addEventListener('submit',(e)=>{
        e.preventDefault()

        const formData= new FormData(e.target)
        fetch('/add',{
            method:'post',
            body:formData
        }).then(response=>response.json())
        .then(res=>{
            if(res.case){
                addMessage.style.color='#A5DD9B';
                addMessage.innerHTML=res.message
            }
            else{
                addMessage.style.color='#FFCAD4';
                addMessage.innerHTML=res.message
            }
            clearMessageForadd()
        })
        
    })
</script>

