{{>head}}
{{>topbar}}
{{>header}}

<div class="home">
    <div class="wrapper">
        <div class="posts">
            <div class="post target">
                <h1>Title</h1>
                <img src="/img/background/content-1.jpg" alt="">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maxime, esse, in explicabo quisquam quasi ea id beatae ut fuga voluptatum mollitia alias qui veniam. Magni, magnam facilis. Magnam, mollitia iure!
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repudiandae sit sapiente officiis laborum, temporibus officia voluptates et! Dolor accusantium, cumque consequatur labore eius inventore quae, rem placeat quia nesciunt magni.
                </p>
                <div class="authorAndDate">
                    <span>Enis Özgür</span>
                    <span>01.09.2024</span>
                </div>
            </div>

            <div class="post target">
                <h1>Title</h1>
                <img src="/img/background/content-1.jpg" alt="">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maxime, esse, in explicabo quisquam quasi ea id beatae ut fuga voluptatum mollitia alias qui veniam. Magni, magnam facilis. Magnam, mollitia iure!
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repudiandae sit sapiente officiis laborum, temporibus officia voluptates et! Dolor accusantium, cumque consequatur labore eius inventore quae, rem placeat quia nesciunt magni.
                </p>
                <div class="authorAndDate">
                    <span>Enis Özgür</span>
                    <span>01.09.2024</span>
                </div>
            </div>

            <div class="post target">
                <h1>Title</h1>
                <img src="/img/background/content-1.jpg" alt="">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maxime, esse, in explicabo quisquam quasi ea id beatae ut fuga voluptatum mollitia alias qui veniam. Magni, magnam facilis. Magnam, mollitia iure!
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repudiandae sit sapiente officiis laborum, temporibus officia voluptates et! Dolor accusantium, cumque consequatur labore eius inventore quae, rem placeat quia nesciunt magni.
                </p>
                <div class="authorAndDate">
                    <span>Enis Özgür</span>
                    <span>01.09.2024</span>
                </div>
            </div>
        </div>

        <div class="sidebar">
            <div class="area target">
                <h3>Who I Am</h3>
                <img src="/img/user/user-2.png" alt="user">
                <div class="categories">
                    <span>#art</span>
                    <span>#design</span>
                    <span>#paint</span>
                    <span>#culture</span>
                </div>
            </div>
            <div class="area target">
                <h3>Ypur Space</h3>
                <a href="/admin/add">Add Post</a>
                <a href="#">Your Performance</a>
                <a href="#">Number of Views</a>
                
                </div>

            </div>
        </div>
    </div>
</div>

{{>foot}}
