{{>head}}
{{>topbar}}

    <div class="regLog">
        <img src="/img/background/login.jpg" alt="register">
        <form>
        
            <div class="formGroup">
                <input type="text" required>
                <span>Username *</span>
            </div>
            <div class="formGroup">
                <input type="text" required>
                <span>Password *</span>
            </div>
            <div class="btnGroup">
                <a href="/register.html">Create a account</a>
                <button>Login</button>
            </div>
        </form> 
    </div>

{{>foot}}
