{{>head}}
{{>topbar}}

    <div class="regLog">
        <img src="/img/background/register.jpg" alt="register">
        <form>
            <div class="formGroup">
                <input type="text" required>
                <span>Email *</span>
            </div>
            <div class="formGroup">
                <input type="text" required>
                <span>Username *</span>
            </div>
            <div class="formGroup">
                <input type="text" required>
                <span>Password *</span>
            </div>
            <div class="btnGroup">
                <a href="/login.html">Do you have any account?</a>
                <button>Register</button>
            </div>
        </form> 
    </div>

{{>foot}}

