<div class="single">
    <div class="wrapper">
        <div class="singleHeader">
            <h2>Title</h2>
            <div class="buttons">
                <button>
                    <i class="fa-solid fa-pen-to-square"></i>
                </button>
                <button>
                    <i class="fa-solid fa-trash"></i>
                </button>
            </div> 
        </div> 
        <img src="/img/background/home.jpg" alt="Image" class="singleImage">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestiae, cumque excepturi iusto, provident ratione nisi quos dignissimos et voluptatem exercitationem eius earum! Aliquid aperiam impedit asperiores ex beatae dolore rem culpa illo in iure, optio eaque ipsa nesciunt dolor! Nisi perspiciatis officia animi consequuntur modi libero est dolor. Voluptate iure eveniet facilis sint ad ipsam excepturi magni labore inventore. Obcaecati provident deleniti, eligendi optio ipsa similique laboriosam nulla? Ullam obcaecati soluta sequi facilis nemo consequuntur fugit incidunt. Natus perferendis inventore adipisci incidunt. Vel maxime, necessitatibus sunt voluptates et dolor, ducimus maiores velit reprehenderit pariatur est odit ipsa nobis dolore ut amet odio qui blanditiis fuga, illum ad nostrum hic vero. Magnam veniam ab possimus culpa, ducimus error voluptates obcaecati qui maiores animi reiciendis officia eveniet praesentium similique sapiente sunt repellat ut non totam deserunt magni maxime modi dolorum. Aliquid ut magnam soluta adipisci eaque error esse quibusdam voluptatem distinctio quaerat.</p>  

        <div class="singleFooter">
            <span>Writer Name</span>
            <span>05.25.2525</span>
        </div>
    </div>
</div>